<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>MCQ</title>
    <link rel="stylesheet" href="{% static 'css/mcq.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% if messages %}{% endif %}
        {% for message in messages %}
            <div>
                <h3 style="color: green; margin-left: 10px;">{{ message }}</h3>
            </div>
        {% endfor %}
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>