{% extends 'polls/base.html' %}
{% block content %}
    <div class="story">
        <div>Instructions:
            <p>Read the story above very well as the questions you are going to answer are drawn from it</p>
            <p>Ensure you answer all question, failure to answer all questions means your answers won't be submitted</p>
            <p>The answers do not autosave, after answering all questions click on submit answer button to check your score instantly</p>
            <p>After seeing your result, click on the logout button.</p>
        </div>
            <a class="quiz-button" href="{% url 'polls:index' %}"><button>start quiz</button></a>
        {% for story in stories %}
            <div style="margin-top: 5px">{{ story.story }}</div>
        {% endfor %}
    </div>

{% endblock %}