{%if questions%}
    {% if messages %}
        {% for message in messages %}
            {% if message.error %}
                <div class="alert  alert-{{ message.tags }} container" role="main">
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {%for question in questions %}
            <p>{{ question.question }}</p>

            <label><input type="radio" name="{{question.id}}" id="option1" value="{{question.option1}}">{{ question.option1 }}</label><br>

            <label><input type="radio" name="{{question.id}}" id="option2" value="{{question.option2}}">{{ question.option2 }}</label><br>
            <label><input type="radio" name="{{question.id}}" id="option3" value="{{question.option3}}">{{ question.option3 }}</label><br>
            <label><input type="radio" name="{{question.id}}" id="option4" value="{{question.option4}}">{{ question.option4 }}</label><br>
        {%endfor%}
        <input type="submit" value="Submit">
    </form>
{#    <div>#}
{#        {% if questions.has_other_pages %}#}
{#            {% if questions.has_previous %}#}
{#                <a href="?page={{questions.previous_page_number}}"></a>#}
{#            {% endif %}#}
{#            {% for numbers in questions.paginator.page_range %}#}
{#                    {% if questions.number == numbers %}#}
{#                        <a class="btn btn-outline-secondary" href="?page={{numbers}}">{{numbers}}</a>#}
{#                    {% elif numbers > questions.number|add:'-3' and numbers < questions.number|add:'3' %}#}
{#                        <a class="btn btn-outline-info " href="?page={{numbers}} ">{{numbers}}</a>#}
{#                    {% endif %}#}
{#            {% endfor %}#}
{#            {% if questions.has_next %}#}
{#                    <a class="btn btn-outline-secondary" href="?page={{questions.next_page_number}}"> Next &raquo;</a>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    </div>#}
{%else%}
    <p>No polls are available</p>
{%endif%}